* {
	box-sizing: border-box;
}

.App {
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.App-screen {
	position: relative;
	width: 800px;
	height: 600px;
	overflow: hidden;
}

.App-screen .MainScreen,
.App-screen .LobbyScreen {
	position: absolute;
	left: 0px;
	top: 0px;
}

.App-disconnected {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.swag-enter {
	transform: translateX(100%);
	opacity: 0;
}

.swag-enter-active {
	transform: translateX(0%);
	opacity: 1;
	transition: all 1s ease-in-out;
}

.swag-leave {
	transform: translateX(0%);
	opacity: 1;
}

.swag-leave-active {
	transform: translateX(-100%);
	opacity: 0;
	transition: all 1s ease-in-out;
}

.background {
	position:absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.button {
	cursor: pointer;
	background: white;
	border: 1px solid black;
	border-radius: 4px;
	padding: 4px 8px;
}

.button:hover {
	background: lightgray;
}

.noFocus:focus {
	outline: none;
}